<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950555856235-0reui81n5np9bs2hott75ggvrn3v3q9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950555856235-0reui81n5np9bs2hott75ggvrn3v3q9b</string>
	<key>API_KEY</key>
	<string>AIzaSyAFc7feJrKDyccCTVBKUwV_m99wybBl5L0</string>
	<key>GCM_SENDER_ID</key>
	<string>950555856235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.care</string>
	<key>PROJECT_ID</key>
	<string>my-ameeen</string>
	<key>STORAGE_BUCKET</key>
	<string>my-ameeen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950555856235:ios:160cd58d58947d6ac9502e</string>
</dict>
</plist>